
  <app-menu></app-menu>
  <div class="main-panel ps-container ps-theme-default ps-active-y">
      <nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
          <div class="container-fluid">
              <div class="navbar-wrapper">
                  <div class="navbar-minimize">
                      <button id="minimizeSidebar" class="btn btn-just-icon btn-white btn-fab btn-round">
                          <i class="material-icons text_align-center visible-on-sidebar-regular">more_vert</i>
                          <i class="material-icons design_bullet-list-67 visible-on-sidebar-mini">dehaze</i>
                          <div class="ripple-container"></div>
                      </button>
                  </div>
                  <div class="navbar-brand" aria-label="breadcrumb" aria-current="page">
                      <nav></nav>
                  </div>
              </div>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="navbar-toggler-icon icon-bar"></span>
                  <span class="navbar-toggler-icon icon-bar"></span>
                  <span class="navbar-toggler-icon icon-bar"></span>
              </button>
          </div>
      </nav>
    <div class="content">
      <div class="container-fluid">
            <router-outlet></router-outlet>
      </div>
    </div>
    <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;"><div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; right: 0px; height: 745px;"><div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 358px;"></div></div>
  </div>
